@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  background-color: #f3f4f6;
  overflow: hidden;
  /* Prevent scrolling from dragging notes off screen */
}

.font-receipt {
  font-family: "JetBrains Mono", monospace;
}

.font-hand {
  font-family: "Satisfy", cursive;
}

/* Custom scrollbar for the printer text area */
textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #e5e7eb;
  border-radius: 20px;
}

.jagged-edge {
  background: linear-gradient(-45deg, transparent 6px, white 0) 0 100%,
    linear-gradient(45deg, transparent 6px, white 0) 0 100%;
  background-repeat: repeat-x;
  background-size: 12px 12px;
  height: 12px;
  width: 100%;
  position: absolute;
  bottom: -12px;
  left: 0;
}

.jagged-edge-top {
  background: linear-gradient(-135deg, transparent 6px, white 0) 0 0,
    linear-gradient(135deg, transparent 6px, white 0) 0 0;
  background-repeat: repeat-x;
  background-size: 12px 12px;
  height: 12px;
  width: 100%;
  position: absolute;
  top: -12px;
  left: 0;
}

/* Printing Animation */
@keyframes print-slide-up {
  0% {
    transform: translateY(150px) scale(0.9);
    opacity: 0;
  }

  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.animate-print {
  animation: print-slide-up 0.6s cubic-bezier(0.2, 0.9, 0.3, 1.1) forwards;
}
